body{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background-color: hsl(204, 43%, 93%);
}

h2{
  font-size: 1.2em;
}

.container{

  width: 90%;
  /* max-width: 375px; */
  margin: 10% auto;
}

.col{
  padding: 1em;
  padding-left: 2em;
  font-weight: 200;
  color: white;
}

.col-1{
  background-color: white;
  padding-right: 2em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.col-1 h2{
  color: hsl(179, 62%, 43%);
}

.col-1 h3{
  color: hsl(71, 73%, 54%);
}

.col-1 p{
  line-height: 2;
  color: hsl(218, 22%, 67%);
}

.col-2{
  background-color: hsl(179, 62%, 43%);
}

.col-2 button{
  width: 95%;
  height: 50px;
  margin: 20px auto;
  background-color: hsl(71, 73%, 54%);
  border: none;
  color: white;
  border-radius: 10px;
}

button:hover{
  /* background-color: hsl(179, 62%, 49%); */
  background-color: white;
  color: black;
}
button:focus{
  background-color: white;
  color: black;
}

.col-2 h1{
  margin-bottom: 0;
}

.col-2 p{
  margin-top: 15px;
  font-size: 1.3em;
}

span{
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  padding-bottom: 160px;
}

.col-3{
  background-color: hsl(179, 62%, 49%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.col-3 p{
  padding: .25em;
  margin: 0;
}

.col-3:last-child{
  padding-bottom: 2em;
}

@media (min-width: 800px) {

  .container{
    width: 90%;
    max-width: 580px;
  }
  .row{
    display: flex;
  }

  .col-2{
    border-bottom-left-radius: 10px;
  }

  .col-2 p{
    font-size: 1em;
  }

  .col-3{
    border-bottom-left-radius: 0;
  }

  .col-2, .col-3{
    width: 50%;
  }

}
